body {
  background: url('./images/golfbackground.jpg') repeat;;
}

.content {
  background-color: white;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: white;
  text-align: center;
}
